<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common">
    <link rel="stylesheet" href="/static/plugins/amaze/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/plugins/amaze/css/admin.css">
    <link rel="stylesheet" href="/static/plugins/contextjs/css/context.standalone.css">
    <script src="/static/plugins/jquery/jquery-2.1.4.min.js"></script>
    <script src="/static/plugins/amaze/js/amazeui.min.js"></script>
    <script src="/static/plugins/amaze/js/app.js"></script>
    <script src="/static/plugins/layer/layer.js"></script>
    <script src="/static/plugins/laypage/laypage.js"></script>
    <script src="/static/plugins/contextjs/js/context.js"></script>
    <!-- 上传图片插件 -->
    <link rel="stylesheet" href="/static/plugins/amaze/css/amazeui.cropper.css">
    <link rel="stylesheet" href="/static/plugins/custom/css/custom_up_img.css">
    <link rel="stylesheet" href="/static/plugins/custom/css/font-awesome.min.css">
    <script src="/static/plugins/amaze/js/cropper.min.js"></script>
    <script src="/static/plugins/custom/js/custom_up_img.js"></script>
</div>