<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebChat | Login</title>
    <link th:href="@{/static/foc/index.ico}" type="image/x-icon" rel="icon"/>
    <link th:href="@{/static/source/css/login.css}" type='text/css' rel='stylesheet'/>
    <script th:src="@{/static/plugins/jquery/jquery-3.3.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/plugins/layer_shtml/layer.js}" type="text/javascript"></script>
    <!--<script th:src="@{/static/plugins/laypage/laypage.js}"></script>-->
</head>
<body>
<h1>WebChat</h1>
<div class="login-form">
    <div class="close"></div>
    <div class="head-info">
        <label class="lbl-1"></label>
        <label class="lbl-2"></label>
        <label class="lbl-3"></label>
    </div>
    <div class="clear"></div>
    <div class="avtar"><img th:src="@{/static/source/img/adm.png}"/></div>
    <form id="login-form" th:action="@{/login}" method="post" onsubmit="return checkLoginForm()">
        <div class="key">
            <input type="text" id="username" name="userid" placeholder="请输入账号">
        </div>

        <div class="key">
            <input type="password" id="password" name="password" placeholder="请输入密码">
        </div>
        <div class="signin">
            <input type="submit" id="submit" value="Login">
        </div>
    </form>
</div>

<script>
    $(function () {
        var time = "[[${param.timeout}]]";
        if (time) {
            layer.msg('连接超时,请重新登陆!', {
                offset: 0,
                shift: 6
            });
        }
        var error = "[[${error}]]";
        if (error) {
            //$('#submit').attr('value', error).css('background', 'red');
            layer.msg(error, {
                offset: 0,
                shift: 6
            });
        }
        var messgae = "[[${message}]]";
        if (messgae) {
            layer.msg(messgae, {
                offset: 0,
            });
        }
        $('.close').on('click', function (c) {
            $('.login-form').fadeOut('slow', function (c) {
                $('.login-form').remove();
            });
        });
        $('#username,#password').change(function () {
            $('#submit').attr('value', 'Login').css('background', '#3ea751');
        });
    });

    /**
     * check the login form before user login.
     */
    function checkLoginForm() {
        var username = $('#username').val();
        var password = $('#password').val();
        if (isNull(username) && isNull(password)) {
            $('#submit').attr('value', '请输入账号和密码!!!').css('background', 'red');
            return false;
        }
        if (isNull(username)) {
            $('#submit').attr('value', '请输入账号!!!').css('background', 'red');
            return false;
        }
        if (isNull(password)) {
            $('#submit').attr('value', '请输入密码!!!').css('background', 'red');
            return false;
        }
        $('#submit').attr('value', 'Logining~');
        return true;
    }

    /**
     * check the param if it's null or '' or undefined
     */
    function isNull(input) {
        if (input == null || input == '' || input == undefined) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
</body>
</html>