<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxx.dao.FileLogDao">
    <resultMap id="BaseResultMap" type="com.xxx.pojo.FileLogPojo">
        <id column="filename" property="filename" jdbcType="VARCHAR"/>
        <result column="filesize" property="filesize" jdbcType="VARCHAR"/>
        <result column="fileuser" property="fileuser" jdbcType="VARCHAR"/>
        <result column="filetime" property="filetime" jdbcType="VARCHAR"/>
        <result column="filetype" property="filetype" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    filename, filesize, fileuser, filetime, filetype
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from chat_file_log
        where filename = #{filename,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from chat_file_log
    where filename = #{filename,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.xxx.pojo.FileLogPojo">
    insert into chat_file_log (filename, filesize, fileuser,
      filetime, filetype)
    values (#{filename,jdbcType=VARCHAR}, #{filesize,jdbcType=VARCHAR}, #{fileuser,jdbcType=VARCHAR},
      #{filetime,jdbcType=VARCHAR}, #{filetype,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.xxx.pojo.FileLogPojo">
        insert into chat_file_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="filename != null">
                filename,
            </if>
            <if test="filesize != null">
                filesize,
            </if>
            <if test="fileuser != null">
                fileuser,
            </if>
            <if test="filetime != null">
                filetime,
            </if>
            <if test="filetype != null">
                filetype,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="filename != null">
                #{filename,jdbcType=VARCHAR},
            </if>
            <if test="filesize != null">
                #{filesize,jdbcType=VARCHAR},
            </if>
            <if test="fileuser != null">
                #{fileuser,jdbcType=VARCHAR},
            </if>
            <if test="filetime != null">
                #{filetime,jdbcType=VARCHAR},
            </if>
            <if test="filetype != null">
                #{filetype,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xxx.pojo.FileLogPojo">
        update chat_file_log
        <set>
            <if test="filesize != null">
                filesize = #{filesize,jdbcType=VARCHAR},
            </if>
            <if test="fileuser != null">
                fileuser = #{fileuser,jdbcType=VARCHAR},
            </if>
            <if test="filetime != null">
                filetime = #{filetime,jdbcType=VARCHAR},
            </if>
            <if test="filetype != null">
                filetype = #{filetype,jdbcType=VARCHAR},
            </if>
        </set>
        where filename = #{filename,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xxx.pojo.FileLogPojo">
    update chat_file_log
    set filesize = #{filesize,jdbcType=VARCHAR},
      fileuser = #{fileuser,jdbcType=VARCHAR},
      filetime = #{filetime,jdbcType=VARCHAR},
      filetype = #{filetype,jdbcType=VARCHAR}
    where filename = #{filename,jdbcType=VARCHAR}
  </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from chat_file_log order by filetime desc
    </select>
</mapper>